<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>socialTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3679A5551BD4514200C3FE18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3679A5691BD4514200C3FE18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3679A5741BD4514200C3FE18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
